@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background: image-url('guitar.jpg');
  // background-color: #162955;
  width: 100%;
  height: 100%;
}

html {
  font-family: 'Lato', sans-serif;
}

.navbar{
  margin-bottom:0px;
}

.mainheader{
  color:white;
  font-size:60px;
  font-weight:900;
  margin-top:0px;
}

.mainheader2{
  font-size:20px;
  color:white;
  margin-top:0px;
}


////////////--side bar stuff--////////////////////

#menuToggle{
  display:none;
}

#menu-icon{
  // color:white;  
  float:right;
}

#slideinmenu{
  width: 240px;
  height:540px;
  // height:100%;
  position: absolute;
  background-color: black;
  left: -240px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
    // z-index: 99;
  top:51px;
  text-align: center; 
  color:white;

  }

#menuToggle:checked ~ #slideinmenu{
  position: absolute; left:-1;
  width: 240px;
  height:540px;
}

#mainpagediv{
  position: relative; left:0;
}

#menuToggle:checked ~ #mainpagediv{
  left: 240px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out; 
}

/////////////////////////////////////////////


#twitterbtn{
  width:200px;
  height:40px;
}

#facebookbtn{
  width:200px;
  height:40px;
}

.form-control {
  margin:0px;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  font-size: 18px;
}

#songinfo{
  color:black;
}

.center {
  text-align: center;
}

.index-well {
  padding: 53px;
  background-color: rgba(248, 248, 248, 0.51);
  border-color: rgba(248, 248, 248, 0.51);
  margin-bottom: 100px;
  margin-top: 50px;
}

.charge-well {
  margin-top: 100px;
  background-color: rgba(248, 248, 248, 0.75);
  border-color: rgba(248, 248, 248, 0.75);
}

.sidebar-well {
  background-color: rgba(248, 248, 248, 0.75);
  border-color: rgba(248, 248, 248, 0.75);
}

.navbar-brand {
  font-weight: 900;
  // color: #C35F23;
  font-size: 20px;
  padding-left:65px;
}

.navbar-brand:hover {
  color:black;
}

.navbar {
  border-radius: 0px;
}

.thumbnail {
  background-color: rgba(248, 248, 248, 0.75);
}

td > img {
  width: 80px;
  height: 80px;
}

tr > td {
  background: rgba(248, 248, 248, 0.70);
}

.fa-music {
  font-size: 30px;
}

ul > img {
  margin-top: 5px;
  vertical-align: bottom;
  width: 40px;
  height: 40px;
}