@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background: image-url('guitar.jpg');
  // background-color: #162955;
  width: 100%;
  height: 100%;
}

html {
  font-family: 'Lato', sans-serif;
}

.navbar{
  margin-bottom:0px;
}


.fa-search{
  margin-top:20px;
}

#note{
  color:blue;
  text-align: center;
}

#trending{
  color:#3399FF;
  font-weight:900;
  text-align: center;
}

.mainheader{
  color:white;
  font-size:80px;
  font-weight:900;
  margin-top:0px;
  margin-bottom: 0px;
}

.mainheader2{
  font-size:30px;
  font-weight:900;
  color:#3399FF ;
  margin-top:0px;
  // border:solid 1px white;

   // background-color: rgba(248, 248, 248, 0.51);
  // border-color: rgba(248, 248, 248, 0.51);
}


.sidebartoggle{
  cursor: pointer;
  color:gray;
  font-size:25px;
  margin-top:-20px;
  border:1px solid;

padding-left:5px;
padding-right:5px;
}

.btn2{
  // background-color: gray;
  border:solid 1px gray;
}

.sidebar{
  width:250px;
  height:100vh;
  right:-250px;
  background-color:black;
  position:absolute;
  top:0px;
  transition: right 0.3s;
}

.wrapper{
  position:absolute;
  width:100vw;
  right: 0;
  transition: right 0.3s;

}

#slideinmenu{
  text-align: center;

  li{
    border-bottom:1px solid gray;
    padding:20px;
    list-style-type: none;

  }
}

.slideinsidebar{
  right:0px;
}

.slideinwrapper{
  right:250px;
}



#twitterbtn{
  width:200px;
  height:40px;
}

#facebookbtn{
  width:200px;
  height:40px;
}

.form-control {
  margin:0px;
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  font-size: 18px;
}

#songinfo{
  color:black;
}

.center {
  text-align: center;
}

.index-well {
  padding: 53px;
  background-color: rgba(248, 248, 248, 0.51);
  border-color: rgba(248, 248, 248, 0.51);
  margin-bottom: 100px;
  margin-top: 50px;
}

.charge-well {
  margin-top: 100px;
  background-color: rgba(248, 248, 248, 0.75);
  border-color: rgba(248, 248, 248, 0.75);
}

.sidebar-well {
  background-color: rgba(248, 248, 248, 0.75);
  border-color: rgba(248, 248, 248, 0.75);
}

.navbar-brand {
  font-weight: 900;
  // color: #C35F23;
  font-size: 20px;
  padding-left:65px;
  padding-right:5px;
}

.navbar-brand:hover {
  color:black;
}

.navbar-right{
  padding:10px;
}

.navbar {
  border-radius: 0px;
}

.thumbnail {
  background-color: rgba(248, 248, 248, 0.75);
}

.fa-user{
  padding-right:5px;
}

td > img {
  width: 80px;
  height: 80px;
}

tr > td {
  background: rgba(248, 248, 248, 0.70);
}

.fa-music {
  font-size: 30px;
}

ul > img {
  margin-top: 5px;
  vertical-align: bottom;
  width: 40px;
  height: 40px;
}

.btn-enter {
  margin-top: 8px;
  border-color: white;
}

.footer{
  background-color: gray;
}