

<div class="container" id="paymentpage">
  <%= form_tag charges_path do %>
    <label class="amount">
      <!-- <span>Amount: $2.00</span><br> -->
      <input class="form-control" name="customamount" placeholder="$"></input>
    </label>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= ENV["STRIPE_PUBLIC_KEY"] %>"
      data-description="Donate"
      data-amount="customamount">
    </script>
  <%end%>
</div>
<div class="well charge-well">
  Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah Bhah 
</div>