<div class="container footer center wrapper">
  <%= link_to "#What's   Trending?", trending_index_path, class:"btn btn-primary"%>

  <%= link_to "Support this app by donating!", new_charge_path, class:"btn btn-success" %>
</div>
